body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aqua;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body.signin-body {
    background-color: #137beb;
}

.container.signin-container {
    margin-top: 15%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #72f067;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

img.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    width: 100%;
    color: white;
    background-color: #d64829;
}

.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.high-image {
    width: 4rem;
    height: 12rem;
    object-fit: cover;
}

.small-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}
.coolStuffWrapper {
    margin-top: 1.2rem;
    font-size: 2rem;
    text-align: center;
}
.coolStuff-btn {
    background-color: rgb(240, 167, 167);
    color: #e9ec25;
    display: block;
    margin: auto;
}
